﻿


<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="Overview.aspx.vb" Inherits="Overview" %>
<%@ Register assembly="System.Web.DataVisualization" namespace="System.Web.UI.DataVisualization.Charting" tagprefix="asp" %>


<%@ Register src="WUC_DateReporter.ascx" tagname="WUC_DateReporter" tagprefix="uc1" %>


<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
 
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->
						<h3 class="page-title">
							
						</h3>
						
									
						<ul class="breadcrumb">
                            <li>
                            	<i class="icon-home"></i><a href="javascript:;">เข้าสู่ระบบ</a></i>
                            </li>
                        	
                        	
                           
                            <uc1:WUC_DateReporter ID="WUC_DateReporter1" runat="server" />
                        	
                           
                        </ul>
						<!-- END PAGE TITLE & BREADCRUMB-->
						
				        
				     </div>
				<div class="span12">
                
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                 
                
                </div>
			    </div>

</div>

</asp:Content>


