﻿
ul.tag_list_readonly
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
    }

ul.tag_list_readonly li
{ 
    display: inline; 
    padding:5px;
    border:2px solid #ececec;
    margin-right:3px;
    margin-bottom:3px;
    background-color:#f4f4f4;
  }